<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label floating>Precio</ion-label>
      <ion-input type="number" name="precio" [(ngModel)]="precio" placeholder="Introduce un precio"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label>Moneda</ion-label>
      <ion-select [(ngModel)]="tipoMoneda" name="tipoMoneda">
        <ion-select-option value="Euro">Euro</ion-select-option>
        <ion-select-option value="Dolar">Dólar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <p>El precio es {{ precio | monedas: tipoMoneda }}</p>
    </ion-item>
  </form>
 </ion-content>
 